@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Style de la navbar */
.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.navbar-logo {
  font-size: 2rem;
  font-weight: bold;
}

/* Style de la section principale */
.main-section {
  background-color: #f9f8f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.text-with-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.text-with-image-text {
  /* max-width: 50%;
  margin-right: 2rem; */
}

.text-with-image-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.text-with-image-text p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.text-with-image-image img {
  max-width: 40%;
  height: auto;
}

.btn {
  background-color: white;
  padding: auto;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2rem;
}

/* Style de la checklist */
.checkbox-row {
  display: flex;
  padding: auto;
  align-items: center;
  margin: 0.5rem 0;
}

mat-checkbox {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

/* Pour les écrans de taille maximale de 600px */
@media screen and (max-width: 600px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }

  .navbar-logo {
    font-size: 1.5rem;
  }

  .text-with-image {
    flex-direction: column-reverse;
  }

  .text-with-image-text {
    text-align: center;
  }

  .text-with-image-image {
    text-align: center;
  }

  .main-section-content {
    padding: 20px;
  }

  .checkbox-row {
    display: flex;
    align-items: center;
  }

  .btn {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  mat-checkbox {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }
}
