<nav class="navbar">
  <div class="navbar-logo">Tickntrip</div>
</nav>
<section class="main-section">
  <div class="main-section-content">
    <div class="text-with-image">
      <div class="text-with-image-text">
        <h1>Bienvenue sur Tickntrip</h1>
        <p>Commencer l'aventure maintenant !</p>
      </div>
      <div class="text-with-image-image">
        <img src="assets/tickntrip.png" alt="Tickntrip logo" />
      </div>
    </div>

    <div *ngFor="let trip of trips">
      <div>
        <b>{{ trip.city }} - Du {{ trip.startDate }} au {{ trip.endDate }}</b>
      </div>
      <button
        mat-raised-button
        color="black"
        (click)="prepareSuitcase(trip)"
        [disabled]="trip.checked"
      >
        Préparer ma valise
      </button>
      <mat-accordion *ngIf="trip.items?.length">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>Checklist valise</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div
            class="checkbox-row"
            *ngFor="let item of trip.items; let i = index"
          >
            <mat-checkbox [value]="item.name">{{ item.name }}</mat-checkbox>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</section>
