<nav class="navbar">
  <div class="navbar-logo">Tickntrip</div>
</nav>
<section class="main-section">
  <div class="main-section-content">
    <div class="text-with-image">
      <div class="text-with-image-text">
        <h1>Bienvenue sur Tickntrip</h1>
        <p>Commencer l'aventure maintenant !</p>
      </div>
      <div class="text-with-image-image">
        <img src="assets/tickntrip.png" alt="Tickntrip logo" />
      </div>
    </div>

    <div *ngFor="let trip of trips; let idx = index">
      <div style="margin: 2rem 0;">
        <b>&bull; {{ trip.city }} - Du {{ trip.startDate }} au {{ trip.endDate }}</b>
      </div>
      <div style="display: flex; justify-content: center;" *ngIf="!trip.items.length">
        <button
          mat-raised-button
          color="black"
          (click)="prepareSuitcase(idx, trip)"
          [disabled]="trip.checked"
        >
          Préparer ma valise
        </button>
        <div *ngIf="trip.loading === true" style="margin-left: 1rem;">
          <mat-spinner diameter="30"></mat-spinner>
        </div>
      </div>
      <mat-accordion *ngIf="trip.items?.length">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>Checklist valise</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div
            class="checkbox-row"
            *ngFor="let item of trip.items; let i = index"
          >
            <mat-checkbox [value]="item.name">{{ item.name }}</mat-checkbox>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</section>
